:root {
    --primary-color: #028989;
    --secondary-color: #02acac;
    --click-color: #ffffff;
    --bg-color: #003535;
}

* {
    box-sizing: border-box; 
    outline: none;
    margin: 0;
    padding: 0;
}

body, html {
  height: 100%;
}

body {
    margin: 0px; 
    font-family: Helvetica, Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

.header .logo {
    display: flex;
    height: 60px;
}

.header .nav {
    display: flex;
    padding: 5px;
}

.nav .btn {
    margin: 5px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    font-size: 18px;
    color: white;

    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid transparent;
}

.nav .btn-border {
    border: 1px solid white;
}

.nav .btn:hover {
    background-color: var(--primary-color);
    border-color: transparent;
}

.nav .btn:active {
    background-color: var(--secondary-color);
}

@media screen and (max-width: 600px) {
    .nav .btn {
        display: none;
    }
}

.bg-index {
    width: 100%;
    min-height: 100%;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main {
    padding: 50px 7% 0px 7%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between
}

.main .empty {
    visibility: hidden;
    margin: 40px;
}

.main .text {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.main .text h1 {
    font-size: 45pt;
}

.main .text p {
    margin-top: 15px;
    font-size: 16pt;
}

/* Form */
.main form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: white;
    padding: 40px 40px;
    border-radius: 10px;

    text-align: center;

    max-width: 30%;
    min-width: 350px;
}

.main form input {
    margin: 3px 0px 20px 0px;
}

.main form input[type="submit"] {
    text-align: center;
    text-decoration: none;
    font-size: 18px;

    align-self: flex-end;
    
    background-color: var(--primary-color);
    color: #ffffff;


    margin-left: 10px;
    margin-bottom: 0;

    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.3s;
}

.main form input[type="submit"]:hover {
    text-decoration: underline;
}

.main form input[type="submit"]:active {
    background-color: var(--secondary-color);
}

.main input[type=text], .main input[type=password] {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    width: 100%;
    height: 30px;
    
    padding-left: 15px;
    padding-right: 15px;
    font-size: 11pt;
}
    
.main input[type=text]:focus, .main input[type=password]:focus {
    border: 1px solid #24cbcb;
}

.main form label {
    margin: 0 15px;
}

.main form h2 {
    align-self: center;
    margin-bottom: 30px;
}

@media screen and (max-width: 880px) {
    .main {
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .main .empty {
        margin: 25px;
    }

    .main .text h1 {
        font-size: 30pt;
    }

    .main .text p {
        font-size: 14pt;
    }

    .main form {
        margin: 0;
    }
}

@media screen and (max-width: 420px) {
    .main form {
        margin: 0;
        min-width: 100%;
    }
}

/* Decks page */

.bg {
    width: 100%;
    min-height: 100%;
    background-color: var(--bg-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.main h1 {
    display: block;
    color: white;
}

.nav .profile-btn {
    color: white;
}

.main .content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.content li {
    list-style: none;
    padding: 10px 15px;
    margin: 5px;

    color: var(--primary-color);
    background-color: white;

    min-width: 200px;
    max-width: 300px;


    border-radius: 25px;
}